{% extends 'base.html' %}

{% block content %}

<h2>Absensi Kelas {{ jadwal.kelas }}</h2>

<form method="POST">

{% csrf_token %}

<table border="1">

<tr>
<th>No</th>
<th>Nama Santri</th>
<th>Status</th>
</tr>

{% for s in santri %}

<tr>

<td>{{ forloop.counter }}</td>

<td>{{ s.nama }}</td>

<td>

<select name="status_{{ s.id }}">

<option value="hadir">Hadir</option>
<option value="izin">Izin</option>
<option value="alpha">Alpha</option>

</select>

</td>

</tr>

{% endfor %}

</table>

<br>

<button type="submit">Simpan Absensi</button>

</form>

{% endblock %}